* {
	-webkit-font-smoothing: antialiased;
}

html,body,#sidebar {
	height: 100%;
	position: relative;
}

html, body {
  font-family: "Open Sans", Arial, sans-serif;
  background: #fff;
  height: 100%;
  padding: 0;
  margin: 0;
}
p,li {
  line-height: 1.6em;
}
ul, li {
  padding-left: 0;
  list-style-position: inside;
}
h1 {
  font-weight: 700;
  font-size: 16pt;
}
h3 {
  font-size: 16pt;
  font-weight: 600;
}
em {
  font-weight: 500;
  font-style: normal;
}

#sidebar_content {
	position: relative;
	top: 10%;
}

.divideSidebar {
	border-bottom: 1px solid #c6c5cd;
	width: 50%;
	margin: 0px auto;
}

#social-links {
	margin: 20px auto;
	display: inline-block;
}

#social-links img {
	width: 25px;
}

#profpic {
	display: inline;
    margin: 0 auto;
    width: 40%;
    min-width: 120px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}
#sidebar {
	color: #2a3236;
	box-sizing: border-box;
	background-image: url(images/bg_.jpg);
	text-align: center;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: top center;
    width: 25%;
    max-width: 400px;
    min-width: 200px;
    min-height: 700px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: fixed;
    z-index: 10;
}

#sidebar li {
	list-style: none;
	float: left;
	margin: 0px 10px;
}

@media (max-width: 48em) { 
	html #sidebar {
		margin-left: -200px;
	}

	html #sidebar {
		position: relative;
		width: 100%;
		max-width: 100%;
		height: 300px;
		min-height: 250px;
		max-height: 250px;
		margin: 0;
		margin-bottom: 20px;
	}

	html #sidebar_content {
		top: 8%;
	}

	#profpic {
		width: 100px;
		min-width: 100px;
	}

	html #content {
		left: 0;
	}
}

@media (max-width: 70em) {
	html .rubric {
		width: 100%;
	}
}

@media (min-width: 48em) and (max-width: 70em) {
	html #content {
		width: 60%;
	}
}

@media (min-width: 100em) {
	html #content {
		left: 400px;
	}
}

#inner_container {
	overflow: auto;
	height: 100%;
}

#content {
	font-size: 12pt;
	font-weight: 500;
	padding: 50px 50px 0;
  	-webkit-overflow-scrolling: touch;
	max-width: 750px;
	min-width: 350px;
	color: rgb(95, 104, 117);
	position: relative;
	left: 25%;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

a {
	color: #2a3236;
	text-decoration: none;
	font-weight: 600;
}

.rubric {
	margin: 0px 40px 40px 0;
	width: 330px;
	height: 200px;
	float: left;
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: top center;
}

#projectsList a:nth-child(even) .rubric {
	margin-right: 0;
}

.rubric .rubric_inner {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: 600;
	background: rgba(0,0,0,.5);
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.rubric_spacer {
    height: 100%;
    vertical-align: middle;
    display: inline-block; }

.rubric_title {
	vertical-align: middle;
    display: inline-block;
}

.rubric:hover .rubric_inner {
	background: rgba(0,0,0,.25);
}

.senti-rubric {
	background-image: url(images/senti/6.jpg);
}

.comp-vision-rubric {
	background-image: url(images/vision.png);
}

.datafindr-rubric {
	background-image: url(images/datafindr/datafindr_cover_2.png);
}

footer {
	border-top: 1px solid #c5c7d2;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #a7a9b8;
	font-style: italic;
	font-size: 10pt;
	clear: both;
}

@media only screen and (max-device-width: 480px) {
	#sidebar {
		position: relative;
		width: 100%;
		max-width: 100%;
		height: 900px;
		min-height: 900px;
		max-height: 900px;
		margin: 0;
		margin-bottom: 20px;
	}

	#sidebar_content {
		top: 5%;
	}

	#social-links img {
		width: 60px;
	}

	#sidebar li {
		margin: 0px 25px;
	}

	html .divideSidebar {
		border-bottom: 1px solid #333;
		margin-bottom: 35px;
	}

	#profpic {
		width: 300px;
		min-width: 300px;
	}

	html h1 {
		font-size: 48pt;
	}

	html #content h3 {
		font-weight: 700;
		font-size: 32pt;
	}

	html #content {
		left: 0;
		max-width: 100%;
		width: 100%;
		padding: 0;
		font-size: 200%;
	}

	html footer {
		font-size: 100%;
	}

	#content_cont {
		padding-right: 40px;
		padding-left: 40px;
	}

	html .rubric {
		height: 300px;
	}

	html .rubric .rubric_inner span {
		font-size: 32pt;
	}
}

/* Blog */

.blog-post-date {
	font-style: italic;
}

#blog_post {
	color: rgb(75, 84, 97);
}

#blog_post a {
	font-weight: 600;
}

#blog_post h2 {
	font-size: 24pt;
}

#blog_post h3 {
	font-weight: 700;
	margin-top: 2em;
	font-size: 17pt;
}

#blog_post p, #blog_post ul li {
	font-family: georgia, "times new roman";
	font-size: 14pt;
	line-height: 1.8em;
}

#blog_post a {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 12pt;
}

#blog_post p img {
	margin: 0px auto;
	text-align: center;
	display: block;
	max-width: 80%;
	margin-top: 25px;
}

#blog_post blockquote {
	font-style: italic;
	text-align: center;
	font-size: 11pt;
}

#blog_post ul li {
	margin-bottom: 15px;
}

#blog_post em {
	font-family: monospace;
	font-size: 12pt;
}

#blog_posts_list, #blog_posts_list li {
	list-style: none;
}

.blog_post_link, .blog_post_date {
	display: block;
}

.blog_post_link {

font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;

}

.blog_post_date {
	font-size: 10pt;
}
